POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_PORT=
GRAFANA_ADMIN_PASSWORD=

KAFKA_CLUSTER_ID='22 characters long'
KAFKA_BOOTSTRAP_SERVERS='connection uri of 3 brokers'
KAFKA_TOPIC=
NUM_DEVICES=